In [67]:
import pandas as pd

In [68]:
df = pd.read_csv('Electric_Vehicles.csv')

In [69]:
df.tail(5)

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
1315,User_1316,Nissan Leaf,100.000000,Station_57,New York,2024-02-24 19:00:00,2024-02-24 20:30:00,42.011654,1.426444,5.895475,22.081164,Evening,Sunday,39.204102,83.915952,239.601075,1.919655,7.0,DC Fast Charger,Commuter
1316,User_1317,BMW i3,100.000000,Station_40,New York,2024-02-24 20:00:00,2024-02-24 20:44:00,68.185853,3.238212,18.388012,5.067806,Evening,Tuesday,31.456375,93.096461,164.376022,34.029775,4.0,Level 2,Casual Driver
1317,User_1318,Nissan Leaf,100.000000,Station_374,New York,2024-02-24 21:00:00,2024-02-24 23:03:00,18.895102,3.267122,45.482066,37.255002,Evening,Tuesday,71.903081,78.678879,226.519258,20.358761,5.0,DC Fast Charger,Commuter
1318,User_1319,Chevy Bolt,85.000000,Station_336,San Francisco,2024-02-24 22:00:00,2024-02-24 23:20:00,13.756252,2.754527,38.148183,39.046146,Afternoon,Sunday,76.187997,65.926573,291.494076,24.134598,5.0,Level 2,Commuter
1319,User_1320,Nissan Leaf,120.447195,Station_128,Los Angeles,2024-02-24 23:00:00,2024-02-24 23:56:00,63.652570,3.740970,33.704226,10.863674,Evening,Monday,59.338076,56.692439,14.449236,-6.966593,5.0,DC Fast Charger,Commuter

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320 entries, 0 to 1319
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   User ID                                   1320 non-null   object
 1   Vehicle Model                             1320 non-null   object
 2   Battery Capacity (kWh)                    1320 non-null   float64
 3   Charging Station ID                       1320 non-null   object
 4   Charging Station Location                 1320 non-null   object
 5   Charging Start Time                       1320 non-null   object
 6   Charging End Time                         1320 non-null   object
 7   Energy Consumed (kWh)                     1254 non-null   float64
 8   Charging Duration (hours)                 1320 non-null   float64
 9   Charging Rate (kW)                        1254 non-null   float64
 10  Charging Cost (USD)                       1320 non-null   float64
 11  Time of Day                               1320 non-null   object
 12  Day of Week                               1320 non-null   object
 13  State of Charge (Start %)                 1320 non-null   float64
 14  State of Charge (End %)                   1320 non-null   float64
 15  Distance Driven (since last charge) (km)  1254 non-null   float64
 16  Temperature (°C)                          1320 non-null   float64
 17  Vehicle Age (years)                       1320 non-null   float64
 18  Charger Type                              1320 non-null   object
 19  User Type                                 1320 non-null   object
dtypes: float64(10), object(10)
memory usage: 206.4+ KB

### Data Processing

Besides float644, there are a lot of object Dtypes which can be converted to their respective variables which take up less memory, and improve model performance compared to object Dtype.

In [71]:
df = df.astype({
    'User ID': 'str',
    'Vehicle Model': 'category',
    'Charging Station ID': 'str',
    'Charging Station Location': 'category',
    'Charging Start Time': 'datetime64[ns]',
    'Charging End Time': 'datetime64[ns]',
    'Time of Day': 'category',
    'Day of Week': 'category',
    'Charger Type': 'category',
    'User Type': 'category'
})

print(df.dtypes)

User ID                                             object
Vehicle Model                                     category
Battery Capacity (kWh)                             float64
Charging Station ID                                 object
Charging Station Location                         category
Charging Start Time                         datetime64[ns]
Charging End Time                           datetime64[ns]
Energy Consumed (kWh)                              float64
Charging Duration (hours)                          float64
Charging Rate (kW)                                 float64
Charging Cost (USD)                                float64
Time of Day                                       category
Day of Week                                       category
State of Charge (Start %)                          float64
State of Charge (End %)                            float64
Distance Driven (since last charge) (km)           float64
Temperature (°C)                                   float64
Vehicle Age (years)                                float64
Charger Type                                      category
User Type                                         category
dtype: object

Potentially need to do target encoding later on.

In [72]:
df.isnull().sum()

User ID                                      0
Vehicle Model                                0
Battery Capacity (kWh)                       0
Charging Station ID                          0
Charging Station Location                    0
Charging Start Time                          0
Charging End Time                            0
Energy Consumed (kWh)                       66
Charging Duration (hours)                    0
Charging Rate (kW)                          66
Charging Cost (USD)                          0
Time of Day                                  0
Day of Week                                  0
State of Charge (Start %)                    0
State of Charge (End %)                      0
Distance Driven (since last charge) (km)    66
Temperature (°C)                             0
Vehicle Age (years)                          0
Charger Type                                 0
User Type                                    0
dtype: int64

In [73]:
df[['Energy Consumed (kWh)', 'Charging Rate (kW)', 'Distance Driven (since last charge) (km)']] = df[['Energy Consumed (kWh)', 'Charging Rate (kW)', 'Distance Driven (since last charge) (km)']].fillna(df[['Energy Consumed (kWh)', 'Charging Rate (kW)', 'Distance Driven (since last charge) (km)']].median())

In [74]:
df.isnull().sum()

User ID                                     0
Vehicle Model                               0
Battery Capacity (kWh)                      0
Charging Station ID                         0
Charging Station Location                   0
Charging Start Time                         0
Charging End Time                           0
Energy Consumed (kWh)                       0
Charging Duration (hours)                   0
Charging Rate (kW)                          0
Charging Cost (USD)                         0
Time of Day                                 0
Day of Week                                 0
State of Charge (Start %)                   0
State of Charge (End %)                     0
Distance Driven (since last charge) (km)    0
Temperature (°C)                            0
Vehicle Age (years)                         0
Charger Type                                0
User Type                                   0
dtype: int64

Successfully filled in all missing values with their respective median.

In [75]:
print(df.dtypes)

User ID                                             object
Vehicle Model                                     category
Battery Capacity (kWh)                             float64
Charging Station ID                                 object
Charging Station Location                         category
Charging Start Time                         datetime64[ns]
Charging End Time                           datetime64[ns]
Energy Consumed (kWh)                              float64
Charging Duration (hours)                          float64
Charging Rate (kW)                                 float64
Charging Cost (USD)                                float64
Time of Day                                       category
Day of Week                                       category
State of Charge (Start %)                          float64
State of Charge (End %)                            float64
Distance Driven (since last charge) (km)           float64
Temperature (°C)                                   float64
Vehicle Age (years)                                float64
Charger Type                                      category
User Type                                         category
dtype: object

In [ ]:
#verifying that within each column they all follow the same kind
for col in df:
    print(df[col].unique())

In [ ]:
# Check for logical inconsistencies
inconsistent_charge = df[df['State of Charge (Start %)'] > df['State of Charge (End %)']]
print("Inconsistent Charge:")
print("There are", len(inconsistent_charge), "instances of inconsistent charges where \nstarting charge is > ending charge somehow.")


print("Inconsistent Stations:")
inconsistent_stations = df.groupby('Charging Station ID')['Charging Station Location'].nunique()
inconsistent_stations = inconsistent_stations[inconsistent_stations > 1]
print('\n')
print(inconsistent_stations)


print('\n')
df[df['Charging Station ID'] == 'Station_1']

Inconsistent Charge:
There are 268 instances of inconsistent charges where
starting charge is > ending charge somehow.


Charging Station ID
Station_1      3
Station_10     4
Station_100    2
Station_101    3
Station_103    4
              ..
Station_93     3
Station_96     2
Station_97     5
Station_98     2
Station_99     2
Name: Charging Station Location, Length: 335, dtype: int64

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),...,State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type,Inconsistent Charge,Negative Energy Consumed,Negative Temperature,Negative Distance Driven
88,User_89,BMW i3,85.0,Station_1,Los Angeles,2024-01-04 16:00:00,2024-01-04 17:56:00,33.072950,1.469660,30.344748,...,83.023473,164.682892,-6.514432,1.00000,Level 2,Long-Distance Traveler,True,False,True,False
793,User_794,Nissan Leaf,75.0,Station_1,Chicago,2024-02-03 01:00:00,2024-02-03 03:40:00,74.826446,1.398582,43.133283,...,53.813699,238.743561,30.955969,3.04357,Level 2,Long-Distance Traveler,False,False,False,False
1171,User_1172,Nissan Leaf,50.0,Station_1,New York,2024-02-18 19:00:00,2024-02-18 22:35:00,45.364578,0.564110,25.041460,...,91.733706,109.931915,37.330822,5.00000,DC Fast Charger,Commuter,False,False,False,False

In [98]:
# Check for negative values
print("\n\nRows with Negative Energy Consumed:")
print(df[df['Energy Consumed (kWh)'] < 0])

print("\n\nRows with Negative Temperature:")
print(df[df['Temperature (°C)'] < 0])

print("\n\nRows with Negative Distance Driven:")
print(df[df['Distance Driven (since last charge) (km)'] < 0])

Rows with Negative Energy Consumed:
Empty DataFrame
Columns: [User ID, Vehicle Model, Battery Capacity (kWh), Charging Station ID, Charging Station Location, Charging Start Time, Charging End Time, Energy Consumed (kWh), Charging Duration (hours), Charging Rate (kW), Charging Cost (USD), Time of Day, Day of Week, State of Charge (Start %), State of Charge (End %), Distance Driven (since last charge) (km), Temperature (°C), Vehicle Age (years), Charger Type, User Type, Inconsistent Charge, Negative Energy Consumed, Negative Temperature, Negative Distance Driven]
Index: []

[0 rows x 24 columns]


Rows with Negative Temperature:
        User ID  Vehicle Model  Battery Capacity (kWh) Charging Station ID  \
4        User_5   Hyundai Kona               50.000000         Station_108
5        User_6    Nissan Leaf               50.000000         Station_335
7        User_8     Chevy Bolt               75.000000         Station_302
15      User_16    Nissan Leaf              100.000000         Station_147
21      User_22   Hyundai Kona               62.000000         Station_485
...         ...            ...                     ...                 ...
1283  User_1284    Nissan Leaf               50.000000         Station_249
1298  User_1299         BMW i3               85.000000         Station_442
1302  User_1303     Chevy Bolt               60.803164          Station_84
1313  User_1314  Tesla Model 3              129.350616         Station_458
1319  User_1320    Nissan Leaf              120.447195         Station_128

     Charging Station Location Charging Start Time   Charging End Time  \
4                  Los Angeles 2024-01-01 04:00:00 2024-01-01 05:46:00
5                San Francisco 2024-01-01 05:00:00 2024-01-01 07:10:00
7                  Los Angeles 2024-01-01 07:00:00 2024-01-01 10:42:00
15                 Los Angeles 2024-01-01 15:00:00 2024-01-01 17:19:00
21                    New York 2024-01-01 21:00:00 2024-01-01 22:55:00
...                        ...                 ...                 ...
1283                   Houston 2024-02-23 11:00:00 2024-02-23 14:37:00
1298                   Houston 2024-02-24 02:00:00 2024-02-24 03:49:00
1302             San Francisco 2024-02-24 06:00:00 2024-02-24 08:34:00
1313                   Chicago 2024-02-24 17:00:00 2024-02-24 19:35:00
1319               Los Angeles 2024-02-24 23:00:00 2024-02-24 23:56:00

      Energy Consumed (kWh)  Charging Duration (hours)  Charging Rate (kW)  \
4                 19.629104                   2.019765           10.215712
5                 43.181137                   1.167640           14.334523
7                 51.467617                   2.655396           26.702908
15                27.354318                   2.703286           11.112499
21                59.135032                   2.931761           25.603799
...                     ...                        ...                 ...
1283              28.802925                   0.758400           45.518844
1298              21.795382                   1.171874           37.736219
1302              26.177455                   4.299202           11.078210
1313              60.725144                   2.365991           10.491921
1319              63.652570                   3.740970           33.704226

      ...  State of Charge (End %) Distance Driven (since last charge) (km)  \
4     ...                63.743786                               203.661847
5     ...                71.982288                               143.680046
7     ...                63.786815                               116.543166
15    ...                72.403470                               247.659437
21    ...                75.974352                               219.626357
...   ...                      ...                                      ...
1283  ...                81.232776                                22.332726
1298  ...                68.547404                                39.039982
1302  ...                82.017108                                76.339366
1313  ...                94.097883                               279.552278
1319  ...                56.692439                                14.449236

     Temperature (°C)  Vehicle Age (years)     Charger Type  \
4           -7.834199             1.000000          Level 1
5           -5.274218             0.000000  DC Fast Charger
7           -4.417460             0.000000          Level 2
15          -8.302137             1.535234  DC Fast Charger
21          -2.755069             5.000000          Level 1
...               ...                  ...              ...
1283        -0.257359             3.000000  DC Fast Charger
1298        -4.052804             5.000000          Level 2
1302        -8.553375             3.000000          Level 2
1313        -1.369994             3.000000          Level 2
1319        -6.966593             5.000000  DC Fast Charger

                   User Type  Inconsistent Charge  Negative Energy Consumed  \
4     Long-Distance Traveler                False                     False
5     Long-Distance Traveler                 True                     False
7     Long-Distance Traveler                False                     False
15    Long-Distance Traveler                False                     False
21                  Commuter                False                     False
...                      ...                  ...                       ...
1283           Casual Driver                False                     False
1298  Long-Distance Traveler                False                     False
1302                Commuter                False                     False
1313  Long-Distance Traveler                False                     False
1319                Commuter                 True                     False

     Negative Temperature Negative Distance Driven
4                    True                    False
5                    True                    False
7                    True                    False
15                   True                    False
21                   True                    False
...                   ...                      ...
1283                 True                    False
1298                 True                    False
1302                 True                    False
1313                 True                    False
1319                 True                    False

[257 rows x 24 columns]


Rows with Negative Distance Driven:
Empty DataFrame
Columns: [User ID, Vehicle Model, Battery Capacity (kWh), Charging Station ID, Charging Station Location, Charging Start Time, Charging End Time, Energy Consumed (kWh), Charging Duration (hours), Charging Rate (kW), Charging Cost (USD), Time of Day, Day of Week, State of Charge (Start %), State of Charge (End %), Distance Driven (since last charge) (km), Temperature (°C), Vehicle Age (years), Charger Type, User Type, Inconsistent Charge, Negative Energy Consumed, Negative Temperature, Negative Distance Driven]
Index: []

[0 rows x 24 columns]

There are no rows for negative energy consumed and negative distance driven.