In [139]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from math import ceil
from scipy.stats import zscore

In [140]:
df = pd.read_csv('Electric_Vehicles.csv')

In [105]:
df.tail(5)

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
1315,User_1316,Nissan Leaf,100.000000,Station_57,New York,2024-02-24 19:00:00,2024-02-24 20:30:00,42.011654,1.426444,5.895475,22.081164,Evening,Sunday,39.204102,83.915952,239.601075,1.919655,7.0,DC Fast Charger,Commuter
1316,User_1317,BMW i3,100.000000,Station_40,New York,2024-02-24 20:00:00,2024-02-24 20:44:00,68.185853,3.238212,18.388012,5.067806,Evening,Tuesday,31.456375,93.096461,164.376022,34.029775,4.0,Level 2,Casual Driver
1317,User_1318,Nissan Leaf,100.000000,Station_374,New York,2024-02-24 21:00:00,2024-02-24 23:03:00,18.895102,3.267122,45.482066,37.255002,Evening,Tuesday,71.903081,78.678879,226.519258,20.358761,5.0,DC Fast Charger,Commuter
1318,User_1319,Chevy Bolt,85.000000,Station_336,San Francisco,2024-02-24 22:00:00,2024-02-24 23:20:00,13.756252,2.754527,38.148183,39.046146,Afternoon,Sunday,76.187997,65.926573,291.494076,24.134598,5.0,Level 2,Commuter
1319,User_1320,Nissan Leaf,120.447195,Station_128,Los Angeles,2024-02-24 23:00:00,2024-02-24 23:56:00,63.652570,3.740970,33.704226,10.863674,Evening,Monday,59.338076,56.692439,14.449236,-6.966593,5.0,DC Fast Charger,Commuter

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320 entries, 0 to 1319
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   User ID                                   1320 non-null   object
 1   Vehicle Model                             1320 non-null   object
 2   Battery Capacity (kWh)                    1320 non-null   float64
 3   Charging Station ID                       1320 non-null   object
 4   Charging Station Location                 1320 non-null   object
 5   Charging Start Time                       1320 non-null   object
 6   Charging End Time                         1320 non-null   object
 7   Energy Consumed (kWh)                     1254 non-null   float64
 8   Charging Duration (hours)                 1320 non-null   float64
 9   Charging Rate (kW)                        1254 non-null   float64
 10  Charging Cost (USD)                       1320 non-null   float64
 11  Time of Day                               1320 non-null   object
 12  Day of Week                               1320 non-null   object
 13  State of Charge (Start %)                 1320 non-null   float64
 14  State of Charge (End %)                   1320 non-null   float64
 15  Distance Driven (since last charge) (km)  1254 non-null   float64
 16  Temperature (°C)                          1320 non-null   float64
 17  Vehicle Age (years)                       1320 non-null   float64
 18  Charger Type                              1320 non-null   object
 19  User Type                                 1320 non-null   object
dtypes: float64(10), object(10)
memory usage: 206.4+ KB

### Data Processing

Besides float644, there are a lot of object Dtypes which can be converted to their respective variables which take up less memory, and improve model performance compared to object Dtype.

In [107]:
df = df.astype({
    'User ID': 'str',
    'Vehicle Model': 'category',
    'Charging Station ID': 'str',
    'Charging Station Location': 'category',
    'Charging Start Time': 'datetime64[ns]',
    'Charging End Time': 'datetime64[ns]',
    'Time of Day': 'category',
    'Day of Week': 'category',
    'Charger Type': 'category',
    'User Type': 'category'
})

print(df.dtypes)

User ID                                             object
Vehicle Model                                     category
Battery Capacity (kWh)                             float64
Charging Station ID                                 object
Charging Station Location                         category
Charging Start Time                         datetime64[ns]
Charging End Time                           datetime64[ns]
Energy Consumed (kWh)                              float64
Charging Duration (hours)                          float64
Charging Rate (kW)                                 float64
Charging Cost (USD)                                float64
Time of Day                                       category
Day of Week                                       category
State of Charge (Start %)                          float64
State of Charge (End %)                            float64
Distance Driven (since last charge) (km)           float64
Temperature (°C)                                   float64
Vehicle Age (years)                                float64
Charger Type                                      category
User Type                                         category
dtype: object

Potentially need to do target encoding later on.

In [108]:
df.isnull().sum()

User ID                                      0
Vehicle Model                                0
Battery Capacity (kWh)                       0
Charging Station ID                          0
Charging Station Location                    0
Charging Start Time                          0
Charging End Time                            0
Energy Consumed (kWh)                       66
Charging Duration (hours)                    0
Charging Rate (kW)                          66
Charging Cost (USD)                          0
Time of Day                                  0
Day of Week                                  0
State of Charge (Start %)                    0
State of Charge (End %)                      0
Distance Driven (since last charge) (km)    66
Temperature (°C)                             0
Vehicle Age (years)                          0
Charger Type                                 0
User Type                                    0
dtype: int64

In [109]:
df[['Energy Consumed (kWh)', 'Charging Rate (kW)', 'Distance Driven (since last charge) (km)']] = df[['Energy Consumed (kWh)', 'Charging Rate (kW)', 'Distance Driven (since last charge) (km)']].fillna(df[['Energy Consumed (kWh)', 'Charging Rate (kW)', 'Distance Driven (since last charge) (km)']].median())

In [110]:
df.isnull().sum()

User ID                                     0
Vehicle Model                               0
Battery Capacity (kWh)                      0
Charging Station ID                         0
Charging Station Location                   0
Charging Start Time                         0
Charging End Time                           0
Energy Consumed (kWh)                       0
Charging Duration (hours)                   0
Charging Rate (kW)                          0
Charging Cost (USD)                         0
Time of Day                                 0
Day of Week                                 0
State of Charge (Start %)                   0
State of Charge (End %)                     0
Distance Driven (since last charge) (km)    0
Temperature (°C)                            0
Vehicle Age (years)                         0
Charger Type                                0
User Type                                   0
dtype: int64

Successfully filled in all missing values with their respective median.

In [111]:
print(df.dtypes)

User ID                                             object
Vehicle Model                                     category
Battery Capacity (kWh)                             float64
Charging Station ID                                 object
Charging Station Location                         category
Charging Start Time                         datetime64[ns]
Charging End Time                           datetime64[ns]
Energy Consumed (kWh)                              float64
Charging Duration (hours)                          float64
Charging Rate (kW)                                 float64
Charging Cost (USD)                                float64
Time of Day                                       category
Day of Week                                       category
State of Charge (Start %)                          float64
State of Charge (End %)                            float64
Distance Driven (since last charge) (km)           float64
Temperature (°C)                                   float64
Vehicle Age (years)                                float64
Charger Type                                      category
User Type                                         category
dtype: object

In [112]:
#verifying that within each column they all follow the same kind
for col in df:
    print(df[col].unique())

['User_1' 'User_2' 'User_3' ... 'User_1318' 'User_1319' 'User_1320']
['BMW i3', 'Hyundai Kona', 'Chevy Bolt', 'Nissan Leaf', 'Tesla Model 3']
Categories (5, object): ['BMW i3', 'Chevy Bolt', 'Hyundai Kona', 'Nissan Leaf', 'Tesla Model 3']
[108.46300741 100.          75.          50.          85.
  62.          97.68181223  79.79920376  48.79648264  76.87610038
  69.88407425 124.31591139  59.83272651  48.05069473  24.59992215
  77.29894529  95.15365777 147.39535434  63.09631665  93.27378067
  48.46959856  93.09486955  50.87061708  58.0121307  102.94949428
  95.69778087 102.83943001  89.03206383  81.65318205  46.5379115
  27.03325783 120.51063277  94.82402915  45.38021848 143.47520974
  10.18928677  78.38373536  65.04709891  33.37702357  59.79413925
   6.16889584  45.62653203  77.60847805  48.63693125  60.78928025
  71.64548707  46.87679655  69.44504561   3.9765965    1.53280653
  67.54202075 127.28027404 107.43195455  52.33224826  39.29742253
 129.52415942   3.83851807  78.84320421 104.91720077  51.40198312
  99.53686937 174.40966769  54.37091028  87.48862387  51.11291392
  46.66953089  47.00766204  15.42168148  91.28885271  91.77553028
   1.53653974 121.21189235  65.23649825  35.04435442  25.57336024
  41.65658285  47.65326138   5.18952995  96.98923662 105.55496694
 101.10298786  83.14159589  61.38144493 193.00307389  42.22396426
   7.71451685  37.32971365  94.20058699  81.36841583  29.59428889
  64.77070141  61.46088547  58.36980452  47.59576449  12.03333697
 105.28706773 140.76206158  96.60872071  73.85002716  53.97365866
  26.13651025  88.86922407  43.71913702  58.33515982 101.02319924
  76.33659055 143.20999465   7.45195489  94.35817417 140.51368261
  78.20507693 101.87987268 104.00027306  91.92323205 188.63496459
 157.57577888  86.09247991  60.65969098 109.79512827  55.81669376
  45.8159872   82.66681121  78.43167082 106.82055688 102.3993713
  60.30920245 179.01305777  65.97404605  24.73997471  84.63170319
  28.59217552 110.65812792 100.56515007  48.35371606  86.71809382
  61.95336635  86.16648847  64.92538262  54.03223627  78.51107776
  63.99054363  80.24500101  60.80316402  81.06203029  46.1728725
 129.3506162  120.4471952 ]
['Station_391' 'Station_428' 'Station_181' 'Station_327' 'Station_108'
 'Station_335' 'Station_162' 'Station_302' 'Station_493' 'Station_452'
 'Station_206' 'Station_78' 'Station_16' 'Station_96' 'Station_147'
 'Station_2' 'Station_10' 'Station_434' 'Station_125' 'Station_81'
 'Station_485' 'Station_140' 'Station_326' 'Station_150' 'Station_288'
 'Station_361' 'Station_340' 'Station_129' 'Station_438' 'Station_239'
 'Station_58' 'Station_198' 'Station_211' 'Station_402' 'Station_390'
 'Station_45' 'Station_97' 'Station_279' 'Station_23' 'Station_410'
 'Station_461' 'Station_44' 'Station_27' 'Station_282' 'Station_463'
 'Station_36' 'Station_109' 'Station_55' 'Station_192' 'Station_219'
 'Station_185' 'Station_69' 'Station_317' 'Station_130' 'Station_378'
 'Station_336' 'Station_87' 'Station_294' 'Station_119' 'Station_208'
 'Station_334' 'Station_413' 'Station_154' 'Station_35' 'Station_79'
 'Station_67' 'Station_343' 'Station_34' 'Station_169' 'Station_151'
 'Station_71' 'Station_3' 'Station_314' 'Station_32' 'Station_287'
 'Station_82' 'Station_43' 'Station_105' 'Station_1' 'Station_61'
 'Station_270' 'Station_180' 'Station_224' 'Station_6' 'Station_103'
 'Station_90' 'Station_226' 'Station_158' 'Station_228' 'Station_405'
 'Station_126' 'Station_444' 'Station_209' 'Station_74' 'Station_115'
 'Station_191' 'Station_495' 'Station_170' 'Station_307' 'Station_448'
 'Station_204' 'Station_56' 'Station_41' 'Station_15' 'Station_62'
 'Station_155' 'Station_284' 'Station_320' 'Station_494' 'Station_187'
 'Station_498' 'Station_442' 'Station_127' 'Station_292' 'Station_114'
 'Station_199' 'Station_13' 'Station_271' 'Station_89' 'Station_215'
 'Station_278' 'Station_447' 'Station_474' 'Station_481' 'Station_203'
 'Station_25' 'Station_101' 'Station_176' 'Station_427' 'Station_117'
 'Station_166' 'Station_429' 'Station_344' 'Station_424' 'Station_366'
 'Station_120' 'Station_145' 'Station_216' 'Station_229' 'Station_313'
 'Station_352' 'Station_377' 'Station_318' 'Station_472' 'Station_137'
 'Station_324' 'Station_337' 'Station_273' 'Station_306' 'Station_368'
 'Station_94' 'Station_168' 'Station_341' 'Station_149' 'Station_183'
 'Station_152' 'Station_365' 'Station_401' 'Station_274' 'Station_42'
 'Station_496' 'Station_212' 'Station_17' 'Station_73' 'Station_14'
 'Station_433' 'Station_157' 'Station_223' 'Station_132' 'Station_338'
 'Station_404' 'Station_376' 'Station_47' 'Station_107' 'Station_265'
 'Station_205' 'Station_476' 'Station_247' 'Station_19' 'Station_346'
 'Station_436' 'Station_26' 'Station_217' 'Station_174' 'Station_92'
 'Station_480' 'Station_131' 'Station_450' 'Station_298' 'Station_275'
 'Station_492' 'Station_417' 'Station_76' 'Station_177' 'Station_184'
 'Station_319' 'Station_363' 'Station_49' 'Station_355' 'Station_200'
 'Station_308' 'Station_356' 'Station_373' 'Station_118' 'Station_263'
 'Station_46' 'Station_400' 'Station_408' 'Station_189' 'Station_310'
 'Station_266' 'Station_464' 'Station_144' 'Station_487' 'Station_348'
 'Station_134' 'Station_148' 'Station_233' 'Station_299' 'Station_161'
 'Station_121' 'Station_301' 'Station_63' 'Station_451' 'Station_68'
 'Station_253' 'Station_459' 'Station_398' 'Station_286' 'Station_218'
 'Station_269' 'Station_382' 'Station_98' 'Station_236' 'Station_412'
 'Station_304' 'Station_484' 'Station_66' 'Station_234' 'Station_457'
 'Station_254' 'Station_380' 'Station_84' 'Station_276' 'Station_387'
 'Station_268' 'Station_296' 'Station_322' 'Station_100' 'Station_272'
 'Station_339' 'Station_238' 'Station_18' 'Station_12' 'Station_123'
 'Station_246' 'Station_222' 'Station_51' 'Station_488' 'Station_48'
 'Station_262' 'Station_53' 'Station_357' 'Station_135' 'Station_443'
 'Station_11' 'Station_143' 'Station_293' 'Station_9' 'Station_93'
 'Station_454' 'Station_328' 'Station_267' 'Station_422' 'Station_106'
 'Station_381' 'Station_364' 'Station_122' 'Station_446' 'Station_371'
 'Station_257' 'Station_359' 'Station_4' 'Station_426' 'Station_397'
 'Station_354' 'Station_85' 'Station_214' 'Station_197' 'Station_330'
 'Station_392' 'Station_441' 'Station_383' 'Station_329' 'Station_8'
 'Station_250' 'Station_139' 'Station_124' 'Station_309' 'Station_469'
 'Station_112' 'Station_477' 'Station_362' 'Station_460' 'Station_240'
 'Station_242' 'Station_342' 'Station_478' 'Station_167' 'Station_20'
 'Station_393' 'Station_86' 'Station_375' 'Station_248' 'Station_70'
 'Station_57' 'Station_39' 'Station_289' 'Station_440' 'Station_220'
 'Station_244' 'Station_283' 'Station_110' 'Station_331' 'Station_232'
 'Station_64' 'Station_455' 'Station_213' 'Station_258' 'Station_175'
 'Station_291' 'Station_435' 'Station_370' 'Station_88' 'Station_72'
 'Station_30' 'Station_172' 'Station_394' 'Station_194' 'Station_186'
 'Station_164' 'Station_431' 'Station_403' 'Station_210' 'Station_350'
 'Station_251' 'Station_321' 'Station_280' 'Station_5' 'Station_414'
 'Station_182' 'Station_285' 'Station_259' 'Station_104' 'Station_379'
 'Station_255' 'Station_386' 'Station_156' 'Station_77' 'Station_470'
 'Station_188' 'Station_333' 'Station_178' 'Station_40' 'Station_416'
 'Station_65' 'Station_388' 'Station_445' 'Station_421' 'Station_221'
 'Station_237' 'Station_497' 'Station_159' 'Station_409' 'Station_300'
 'Station_396' 'Station_256' 'Station_353' 'Station_325' 'Station_312'
 'Station_99' 'Station_482' 'Station_75' 'Station_33' 'Station_171'
 'Station_399' 'Station_261' 'Station_83' 'Station_351' 'Station_281'
 'Station_420' 'Station_146' 'Station_419' 'Station_462' 'Station_260'
 'Station_349' 'Station_425' 'Station_207' 'Station_28' 'Station_116'
 'Station_347' 'Station_423' 'Station_407' 'Station_59' 'Station_479'
 'Station_415' 'Station_367' 'Station_439' 'Station_80' 'Station_195'
 'Station_369' 'Station_305' 'Station_311' 'Station_196' 'Station_437'
 'Station_165' 'Station_37' 'Station_468' 'Station_7' 'Station_249'
 'Station_297' 'Station_231' 'Station_453' 'Station_358' 'Station_475'
 'Station_128' 'Station_179' 'Station_193' 'Station_141' 'Station_95'
 'Station_385' 'Station_21' 'Station_471' 'Station_372' 'Station_486'
 'Station_277' 'Station_384' 'Station_227' 'Station_323' 'Station_153'
 'Station_201' 'Station_315' 'Station_466' 'Station_252' 'Station_430'
 'Station_38' 'Station_389' 'Station_235' 'Station_133' 'Station_499'
 'Station_418' 'Station_332' 'Station_138' 'Station_52' 'Station_458'
 'Station_24' 'Station_483' 'Station_473' 'Station_241' 'Station_489'
 'Station_22' 'Station_374']
['Houston', 'San Francisco', 'Los Angeles', 'Chicago', 'New York']
Categories (5, object): ['Chicago', 'Houston', 'Los Angeles', 'New York', 'San Francisco']
<DatetimeArray>
['2024-01-01 00:00:00', '2024-01-01 01:00:00', '2024-01-01 02:00:00',
 '2024-01-01 03:00:00', '2024-01-01 04:00:00', '2024-01-01 05:00:00',
 '2024-01-01 06:00:00', '2024-01-01 07:00:00', '2024-01-01 08:00:00',
 '2024-01-01 09:00:00',
 ...
 '2024-02-24 14:00:00', '2024-02-24 15:00:00', '2024-02-24 16:00:00',
 '2024-02-24 17:00:00', '2024-02-24 18:00:00', '2024-02-24 19:00:00',
 '2024-02-24 20:00:00', '2024-02-24 21:00:00', '2024-02-24 22:00:00',
 '2024-02-24 23:00:00']
Length: 1320, dtype: datetime64[ns]
<DatetimeArray>
['2024-01-01 00:39:00', '2024-01-01 03:01:00', '2024-01-01 04:48:00',
 '2024-01-01 06:42:00', '2024-01-01 05:46:00', '2024-01-01 07:10:00',
 '2024-01-01 07:53:00', '2024-01-01 10:42:00', '2024-01-01 09:21:00',
 '2024-01-01 12:44:00',
 ...
 '2024-02-24 17:50:00', '2024-02-24 18:53:00', '2024-02-24 18:54:00',
 '2024-02-24 19:35:00', '2024-02-24 19:58:00', '2024-02-24 20:30:00',
 '2024-02-24 20:44:00', '2024-02-24 23:03:00', '2024-02-24 23:20:00',
 '2024-02-24 23:56:00']
Length: 1309, dtype: datetime64[ns]
[60.71234573 12.3392752  19.1288757  ... 18.89510166 13.7562515
 63.65257024]
[0.59136343 3.13365205 2.45265273 ... 3.26712169 2.75452748 3.74097037]
[36.38918057 30.67773494 27.51359256 ... 45.48206597 38.14818327
 33.7042261 ]
[13.08771679 21.12844793 35.66727042 ... 37.25500156 39.04614606
 10.86367428]
['Evening', 'Morning', 'Afternoon', 'Night']
Categories (4, object): ['Afternoon', 'Evening', 'Morning', 'Night']
['Tuesday', 'Monday', 'Thursday', 'Saturday', 'Friday', 'Wednesday', 'Sunday']
Categories (7, object): ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']
[29.37157598 10.11577764  6.85460444 ... 71.90308073 76.18799708
 59.33807594]
[86.11996244 84.66434363 69.91761524 ... 78.6788787  65.92657343
 56.69243948]
[293.60211064 112.11280368  71.79925293 ... 226.51925817 291.4940756
  14.44923553]
[27.94795306 14.31102566 21.00200184 ... 20.35876102 24.13459802
 -6.96659298]
[ 2.          3.          1.          0.          4.          2.83038131
  7.          1.53523409  6.          5.          4.2579367   0.36121517
  1.80917287  1.96923272  2.94166324  3.68005286  2.61633248  2.59185133
  4.12276746  2.77134648  0.92527666  1.75029941  2.77824657  6.64442453
  1.80348824  0.67494702  7.69088419  6.45561228  2.00764059  3.28111664
  1.88803748  3.96924403  7.51530869  0.28840811  1.75544393  5.68536689
  3.17606193  3.10016924  7.54558623  8.01866573 10.54723654  2.53715851
  1.50286879  2.81790172  0.46166155  4.69034703  0.73941075  0.91050432
  2.04474428  6.23892343  2.08175947  1.08711073  5.16646509  0.91771964
  1.80607964  9.07612118  1.95789391  3.89867875  4.8149702   6.81797067
  1.89644531  4.41577401  0.52409503  1.65801307  2.82548197  7.19704154
  2.89636066  3.60813487  5.48970015  0.68988665 11.68859247  3.69709541
  3.0435698   1.20863308  3.28632457  0.08859826  3.73405531  4.7894567
  6.80803345  4.06268815  0.35565279  2.79716505  5.74953706  5.40485332
  2.06148446  4.79449182  2.64765512  3.22081808  6.37730014  4.18658829
 10.63457441  1.0389733   3.3044081   1.05805667  0.81431449  1.71988861
  4.02307965  2.93142076  6.45400134  6.66451034  4.43515223  1.41310713
  4.38750097  4.59227826  2.07784652  5.35218808  2.39606033  2.1248355
  6.56102113  3.22493497  0.02015574  0.19004693  0.84518962  2.92881133]
['DC Fast Charger', 'Level 1', 'Level 2']
Categories (3, object): ['DC Fast Charger', 'Level 1', 'Level 2']
['Commuter', 'Casual Driver', 'Long-Distance Traveler']
Categories (3, object): ['Casual Driver', 'Commuter', 'Long-Distance Traveler']

In [113]:
# Check for logical inconsistencies
inconsistent_charge = df[df['State of Charge (Start %)'] > df['State of Charge (End %)']]
print("Inconsistent Charge:")
print("There are", len(inconsistent_charge), "instances of inconsistent charges where \nstarting charge is > ending charge somehow.")


print("Inconsistent Stations:")
inconsistent_stations = df.groupby('Charging Station ID')['Charging Station Location'].nunique()
inconsistent_stations = inconsistent_stations[inconsistent_stations > 1]
print('\n')
print(inconsistent_stations)


print('\n')
df[df['Charging Station ID'] == 'Station_1']

Inconsistent Charge:
There are 268 instances of inconsistent charges where
starting charge is > ending charge somehow.
Inconsistent Stations:


Charging Station ID
Station_1      3
Station_10     4
Station_100    2
Station_101    3
Station_103    4
              ..
Station_93     3
Station_96     2
Station_97     5
Station_98     2
Station_99     2
Name: Charging Station Location, Length: 335, dtype: int64

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
88,User_89,BMW i3,85.0,Station_1,Los Angeles,2024-01-04 16:00:00,2024-01-04 17:56:00,33.072950,1.469660,30.344748,15.550838,Evening,Wednesday,105.032224,83.023473,164.682892,-6.514432,1.00000,Level 2,Long-Distance Traveler
793,User_794,Nissan Leaf,75.0,Station_1,Chicago,2024-02-03 01:00:00,2024-02-03 03:40:00,74.826446,1.398582,43.133283,26.218718,Evening,Sunday,23.725996,53.813699,238.743561,30.955969,3.04357,Level 2,Long-Distance Traveler
1171,User_1172,Nissan Leaf,50.0,Station_1,New York,2024-02-18 19:00:00,2024-02-18 22:35:00,45.364578,0.564110,25.041460,33.712647,Afternoon,Thursday,39.082326,91.733706,109.931915,37.330822,5.00000,DC Fast Charger,Commuter

In [114]:
# Check for negative values
print("\n\nRows with Negative Energy Consumed:")
print(df[df['Energy Consumed (kWh)'] < 0])

print("\n\nRows with Negative Temperature:")
print(df[df['Temperature (°C)'] < 0])

print("\n\nRows with Negative Distance Driven:")
print(df[df['Distance Driven (since last charge) (km)'] < 0])

Rows with Negative Energy Consumed:
Empty DataFrame
Columns: [User ID, Vehicle Model, Battery Capacity (kWh), Charging Station ID, Charging Station Location, Charging Start Time, Charging End Time, Energy Consumed (kWh), Charging Duration (hours), Charging Rate (kW), Charging Cost (USD), Time of Day, Day of Week, State of Charge (Start %), State of Charge (End %), Distance Driven (since last charge) (km), Temperature (°C), Vehicle Age (years), Charger Type, User Type]
Index: []


Rows with Negative Temperature:
        User ID  Vehicle Model  Battery Capacity (kWh) Charging Station ID  \
4        User_5   Hyundai Kona               50.000000         Station_108
5        User_6    Nissan Leaf               50.000000         Station_335
7        User_8     Chevy Bolt               75.000000         Station_302
15      User_16    Nissan Leaf              100.000000         Station_147
21      User_22   Hyundai Kona               62.000000         Station_485
...         ...            ...                     ...                 ...
1283  User_1284    Nissan Leaf               50.000000         Station_249
1298  User_1299         BMW i3               85.000000         Station_442
1302  User_1303     Chevy Bolt               60.803164          Station_84
1313  User_1314  Tesla Model 3              129.350616         Station_458
1319  User_1320    Nissan Leaf              120.447195         Station_128

     Charging Station Location Charging Start Time   Charging End Time  \
4                  Los Angeles 2024-01-01 04:00:00 2024-01-01 05:46:00
5                San Francisco 2024-01-01 05:00:00 2024-01-01 07:10:00
7                  Los Angeles 2024-01-01 07:00:00 2024-01-01 10:42:00
15                 Los Angeles 2024-01-01 15:00:00 2024-01-01 17:19:00
21                    New York 2024-01-01 21:00:00 2024-01-01 22:55:00
...                        ...                 ...                 ...
1283                   Houston 2024-02-23 11:00:00 2024-02-23 14:37:00
1298                   Houston 2024-02-24 02:00:00 2024-02-24 03:49:00
1302             San Francisco 2024-02-24 06:00:00 2024-02-24 08:34:00
1313                   Chicago 2024-02-24 17:00:00 2024-02-24 19:35:00
1319               Los Angeles 2024-02-24 23:00:00 2024-02-24 23:56:00

      Energy Consumed (kWh)  Charging Duration (hours)  Charging Rate (kW)  \
4                 19.629104                   2.019765           10.215712
5                 43.181137                   1.167640           14.334523
7                 51.467617                   2.655396           26.702908
15                27.354318                   2.703286           11.112499
21                59.135032                   2.931761           25.603799
...                     ...                        ...                 ...
1283              28.802925                   0.758400           45.518844
1298              21.795382                   1.171874           37.736219
1302              26.177455                   4.299202           11.078210
1313              60.725144                   2.365991           10.491921
1319              63.652570                   3.740970           33.704226

      Charging Cost (USD) Time of Day Day of Week  State of Charge (Start %)  \
4               10.161471     Morning    Saturday                  54.258950
5               36.900341     Evening    Saturday                  75.217748
7                9.796821   Afternoon      Monday                  56.201703
15              33.093493     Evening      Monday                  10.677154
21              34.853234     Evening      Sunday                  71.530312
...                   ...         ...         ...                        ...
1283            20.899345       Night      Friday                  73.686856
1298            27.460575       Night    Saturday                  55.134362
1302            11.413851       Night   Wednesday                  35.299875
1313            11.289733       Night    Saturday                  41.856825
1319            10.863674     Evening      Monday                  59.338076

      State of Charge (End %)  Distance Driven (since last charge) (km)  \
4                   63.743786                                203.661847
5                   71.982288                                143.680046
7                   63.786815                                116.543166
15                  72.403470                                247.659437
21                  75.974352                                219.626357
...                       ...                                       ...
1283                81.232776                                 22.332726
1298                68.547404                                 39.039982
1302                82.017108                                 76.339366
1313                94.097883                                279.552278
1319                56.692439                                 14.449236

      Temperature (°C)  Vehicle Age (years)     Charger Type  \
4            -7.834199             1.000000          Level 1
5            -5.274218             0.000000  DC Fast Charger
7            -4.417460             0.000000          Level 2
15           -8.302137             1.535234  DC Fast Charger
21           -2.755069             5.000000          Level 1
...                ...                  ...              ...
1283         -0.257359             3.000000  DC Fast Charger
1298         -4.052804             5.000000          Level 2
1302         -8.553375             3.000000          Level 2
1313         -1.369994             3.000000          Level 2
1319         -6.966593             5.000000  DC Fast Charger

                   User Type
4     Long-Distance Traveler
5     Long-Distance Traveler
7     Long-Distance Traveler
15    Long-Distance Traveler
21                  Commuter
...                      ...
1283           Casual Driver
1298  Long-Distance Traveler
1302                Commuter
1313  Long-Distance Traveler
1319                Commuter

[257 rows x 20 columns]


Rows with Negative Distance Driven:
Empty DataFrame
Columns: [User ID, Vehicle Model, Battery Capacity (kWh), Charging Station ID, Charging Station Location, Charging Start Time, Charging End Time, Energy Consumed (kWh), Charging Duration (hours), Charging Rate (kW), Charging Cost (USD), Time of Day, Day of Week, State of Charge (Start %), State of Charge (End %), Distance Driven (since last charge) (km), Temperature (°C), Vehicle Age (years), Charger Type, User Type]
Index: []

There are no rows for negative energy consumed and negative distance driven.



### Check for outliers.

In [ ]:
df.head()

In [123]:
print(df.columns)

Index(['User ID', 'Vehicle Model', 'Battery Capacity (kWh)',
       'Charging Station ID', 'Charging Station Location',
       'Charging Start Time', 'Charging End Time', 'Energy Consumed (kWh)',
       'Charging Duration (hours)', 'Charging Rate (kW)',
       'Charging Cost (USD)', 'Time of Day', 'Day of Week',
       'State of Charge (Start %)', 'State of Charge (End %)',
       'Distance Driven (since last charge) (km)', 'Temperature (°C)',
       'Vehicle Age (years)', 'Charger Type', 'User Type'],
      dtype='object')

In [146]:
df['User ID'].value_counts()

User ID
User_1320    1
User_1       1
User_2       1
User_3       1
User_4       1
            ..
User_13      1
User_12      1
User_11      1
User_10      1
User_9       1
Name: count, Length: 1320, dtype: int64

### Feature engineering.

- charging cost per kWh
- how much charge is actually being added during the process --> identify inefficiences/charging behaviour
- ave energy consumed per charging station / freq of charges per station
- isWeekend --> dist. bw weekend/weekday behaviour