In [7]:
fruits = ["apple", "orange", "banana"]
fruits.append("tomato")
fruits.remove("apple")
print(fruits)

['orange', 'banana', 'tomato']

In [26]:
subjects = ("physics", "chemistry", "english", "math", "biology")
subjects += ("literature",)
print(subjects)
len(subjects)

('physics', 'chemistry', 'english', 'math', 'biology', 'literature')

6

In [33]:
desc_list = list(range(15,0,-3))
print(desc_list)

[15, 12, 9, 6, 3]

In [58]:
asc_list = list(range(2,30,2))

print(asc_list)

len(asc_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

14

In [80]:
combined_list = desc_list + asc_list
#print(combined_list)

#separate the even and odd numebrs into 2 lists
even_numbers = []
odd_numbers = []
for i in combined_list:
    if i % 2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)

print(even_numbers)
print(odd_numbers)

[12, 6, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[15, 9, 3]

In [87]:
import math

def circle_properties(radius):
    area = math.pi * (radius**2)
    circumference = math.pi * (radius*2)
    return area, circumference

print(circle_properties(2))

(12.566370614359172, 12.566370614359172)

In [ ]:
# Qn 8

In [93]:
student_grades = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78
}

student_grades["David"] = 92
student_grades["Alice"] = 88

print(student_grades)

{'Alice': 88, 'Bob': 90, 'Charlie': 78, 'David': 92}

In [100]:
fruit_count = ["apple", "banana", "apple", "orange", "banana", "apple"]

for i in fruit_count

print(fruit_count)

NameError: name 'count' is not defined